<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		{% if user %}
		<h3>{{ user }}</h3>
		{% else %}
		<div style="display: flex; flex-direction: row;">
			<input type="text" id="username">	
			<input type="password" id="password">	
			<button id="login">Login</button>
		</div>
		{% endif %}

		<div style="display: flex; flex-direction: column;">
			<textarea id="code" rows="50" cols="90" placeholder="code">{{ code }}</textarea>	
			<button id="send_code">Submit</button>
		</div>

		<script lang="javascript">
		const $id = document.getElementById.bind(document);
		let access_token = null;

		function loggedFetch(url, params) {
			params.headers = {
				...params.headers,
				'Authorization': `Bearer ${access_token}`,
			}

			return fetch(url, params);
		}

		$id('login').onclick = () => {
			const username = $id('username').value;
			const password = $id('password').value;

			const data = new FormData();
			data.set('username', username);
			data.set('password', password);

			fetch('/login', {
				method: 'post',
				body: data,
			}).then(d => {
				return d.json()
			}).then(d => {
				access_token = d.access_token;

				loggedFetch('/', {});
			})
		}

		$id('send_code').onclick = () => {
			loggedFetch('/')
		}
		</script>
	</body>
</html>
